@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
}

main {
  max-width: 600px;
  margin: 50px auto;
}

body {
  background-color: #191919;
  color: #ddd;
  font-family: 'Ubuntu', sans-serif;
}

form {
  border: 3px solid #30313D;
  border-radius: 10px;
  padding: 5px;
  display: flex;
}

form input[type="text"] {
  font-family: 'Ubuntu', sans-serif;
  background: none;
  color: #ffffff;
  border: 0;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  display: block;
  width: 100%;
}

form button {
  background-color: #C84B31;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  width: 10%;
}


div.task {
  background-color: #30313D;
  border-radius: 10px;
  padding: 8px 10px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  transition: opacity 0.3s linear;
}

div.task svg {
  height: 20px;
  margin-right: 6px;
  fill: #C84B31;
  cursor: pointer;
}

div.task.done {
  opacity: 0.3;
}

div.task-name,
div.task form {
  flex-grow: 1;
}

div.task span {
  position: relative;
}

div.task span:before {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  top: 10px;
  transition: width .1s linear;
}

div.task.done span:before {
  width: 100%;
}

h1 {
  font-size: 50px;
}

h1,
h2 {
  text-align: center;
}

div.checkbox {
  display: flex;
  align-items: center;
}

button.delete {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
}

button.delete svg {
  fill: #888;
  height: 14px;
}

div.task input {
  border: 2px solid #555;
  border-radius: 5px;
  padding: 2px 4px;
}

.footer {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 8px;
}

@media (max-width: 1024px) {
  main {
    max-width: 650px;
  }

  form input[type="text"] {
    font-size: 15px;
  }

  button {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  main {
    max-width: 500px;
  }

  button {
    font-size: 20px;
  }

  h2 {
    font-size: 30px;
  }


}

@media (max-width: 640px) {
  main {
    max-width: 370px;
  }

  button {
    font-size: 20px;
  }

  h2 {
    font-size: 25px;
  }
}

.appLogo-container {
  display: flex;
  justify-content: center;
}

img.appLogo {
  height: 115px;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 147px;
  
}

.wave .shape-fill {
  fill: #A05344;
}